<div class="row">
  <div class="row"></div>
  <h5 class="center">Artigos Cadastrados</h5>
  <div class="col s12">
    <div class="col s12">
      <table class="bordered  centered">
        <thead>
          <tr>
            <th data-field="autor">Autor</th>
            <th data-field="titulo">Titulo</th>
            <th data-field="opcoes">Ver mais</th>
          </tr>
        </thead>

        <tbody ng-repeat="inscricao in inscricoes" class="">
          <tr>
            <td>{{inscricao.autor}}</td>
            <td>{{inscricao.titulo}}</td>
            <td>
              <a ng-href="#/artigo/{{inscricao.id}}">
                <i class="small mdi-content-add"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
