<div class="row">
  <div class="row"></div>
  <h5 class="center">Artigos Cadastrados</h5>
  <div class="col s12">
    <div class="col s12">
      <table class="bordered  centered">
        <thead>
          <tr>
            <th data-field="id">Autor</th>
            <th data-field="name">E-mail</th>
            <th data-field="name">Celular</th>
            <th data-field="name">Situação</th>
            <th data-field="price">Opções</th>
          </tr>
        </thead>

        <tbody ng-repeat="inscricao in inscricoes" class="">
          <tr>
            <td>{{inscricao.autor}}</td>
            <td>{{inscricao.email}}</td>
            <td>{{inscricao.celular}}</td>
            <td>{{inscricao.status}}</td>
            <td>
              <a ng-click="removerArtigo(inscricao.id)">
                <i class="small mdi-action-highlight-remove"></i>
              </a>
              <a ng-href="#/artigoValidate/{{inscricao.id}}">
                <i class="small mdi-content-add"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
